# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SegmentAPIHelper.iml
# Datasource local storage ignored files
/../../../../../../../:\Programming\CardLib\SegmentAPIHelper\.idea\.idea.SegmentAPIHelper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
